@import "tailwindcss" source("../../src");

@theme {
  --font-*: initial;
  --font-sans: var(--font-primary), var(--font-secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-error: #e11d48;

  --color-primary: #1f2d55;
  --color-primary-50: #e7ebf1;
  --color-primary-100: #c3ccdd;
  --color-primary-200: #9dabc5;
  --color-primary-300: #788aad;
  --color-primary-400: #5b719d;
  --color-primary-500: #3e598e;
  --color-primary-600: #375186;
  --color-primary-700: #2f477a;
  --color-primary-800: #283e6d;
  --color-primary-900: #1f2d55;

  --color-secondary: #004b3c;
  --color-secondary-50: #e0f2f0;
  --color-secondary-100: #b2ded9;
  --color-secondary-200: #7fcac1;
  --color-secondary-300: #4db4a7;
  --color-secondary-400: #26a495;
  --color-secondary-500: #009483;
  --color-secondary-600: #008776;
  --color-secondary-700: #007766;
  --color-secondary-800: #006758;
  --color-secondary-900: #004b3c;

  --color-neutral: #111827;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --color-danger: #6c0543;
  --color-danger-50: #feebe8;
  --color-danger-100: #fdd8d1;
  --color-danger-200: #fcaaa3;
  --color-danger-300: #f67579;
  --color-danger-400: #ed5265;
  --color-danger-500: #e11d48;
  --color-danger-600: #c1154b;
  --color-danger-700: #a20e4b;
  --color-danger-800: #820a46;
  --color-danger-900: #6c0543;

  --color-success: #10b981;
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;

  --color-warning: #e9971e;
  --color-warning-50: #fef9e9;
  --color-warning-100: #fdf3d2;
  --color-warning-200: #fce4a4;
  --color-warning-300: #f8ce75;
  --color-warning-400: #f1b853;
  --color-warning-500: #e9971e;
  --color-warning-600: #c87915;
  --color-warning-700: #a75d0e;
  --color-warning-800: #874509;
  --color-warning-900: #6f3305;
}

/*c
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-primary), var(--font-secondary);
}
